# Node modules
server/node_modules/
client/node_modules/

# Environment files
server/.env
client/.env

# Build folders
server/dist/
server/build/
client/dist/
client/build/

# Logs
*.log

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
